In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
data = pd.read_csv('data/mutation_parameters.csv')
data['s'][data['hom']] = data['s'] / 2
print('n =', len(data), 'estimates')
data.head()

n = 49 estimates

/Users/rbazev/Applications/miniconda2/envs/py35qt/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,species,group,mutator,U,s,hom,method,source,notes
0,Vesicular Stomatitis Virus,virus,False,1.16,0.0022,False,BM,Elena & Moya 1999,median of 3 experiments
1,Vesicular Stomatitis Virus,virus,False,NaN,0.1910,False,direct mutagenesis,Sanjuan et al. 2004,NaN
2,Tobacco Etch Virus,virus,False,NaN,0.4110,False,direct mutagenesis,Carrasco et al. 2007,NaN
3,PhiX174 bacteriophage,virus,False,NaN,0.5120,False,direct mutagenesis,Vale et al. 2012,average for 2 hosts
4,PhiX174 bacteriophage,virus,False,NaN,0.0510,False,MA,Domingo-Calap et al. 2009,NaN

In [48]:
spp = data['species'].value_counts()
print('n =', len(spp), 'species')
spp

n = 22 species

Drosophila melanogaster       8
Caenorhabditis elegans        5
Escherichia coli              4
Saccharomyces cerevisiae      4
PhiX174 bacteriophage         3
Chlamydomonas reinhardtii     3
Qbeta bacteriophage           2
Amsinckia douglasiana         2
F1 bacteriophage              2
Arabidopsis thaliana          2
Daphnia pulicaria             2
Vesicular Stomatitis Virus    2
Tetrahymena thermophila       1
Daphnia arenata               1
MS2 bacteriophage             1
Oscheius myriophila           1
Caenorhabditis briggsae       1
G4 bacteriophage              1
Amsinckia gloriosa            1
phi6 bacteriophage            1
Tobacco Etch Virus            1
SP bacteriophage              1
Name: species, dtype: int64

In [49]:
grp = data['group'].value_counts()
print('n =', len(grp), 'groups')
grp

n = 3 species

eukaryote    31
virus        14
bacteria      4
Name: group, dtype: int64

In [50]:
ref = data['source'].value_counts()
print('n =', len(ref), 'studies')
ref

n = 32 studies

Domingo-Calap et al. 2009     8
Garcia-Dorado et al. 1998     4
Baer et al. 2005              3
Schoen 2005                   3
Deng & Lynch 1997             2
Vassilieva et al. 2000        2
Zeyl & DeVisser 2001          2
Kibota & Lynch 1996           1
Burch et al. 2007             1
Carrasco et al. 2007          1
Shaw et al. 2000              1
Garcia-Dorado et al. 1999     1
Elena & Moya 1999             1
Gong et al. 2005              1
Elena et al. 1998             1
Wloch et al. 2001             1
Long et al. 2013              1
Loewe et al. 2003             1
Latta et al. 2012             1
Kraemer et al. 2017           1
Morgan et al. 2014            1
Bondel et al. 2019            1
Charlesworth et al. 2004      1
Trindade et al. 2010          1
Matsuba et al. 2012           1
Joseph & Hall 2004            1
Fry & Heinsohn 2002           1
Keightley & Caballero 1997    1
Sanjuan et al. 2004           1
Schultz et al. 1999           1
Vale et al. 2012              1
Peris et al. 2010             1
Name: source, dtype: int64

In [61]:
U = np.array(data['U'])
U = U[~np.isnan(U)]
print('U =', np.percentile(U, [50, 25, 75]))
s = np.array(data['s'])
s = s[~np.isnan(s)]
print('s =', np.percentile(s, [50, 25, 75]))

U = [0.0228 0.0055 0.088 ]
s = [0.072 0.031 0.115]

In [52]:
data[data['mutator']]

,species,group,mutator,U,s,hom,method,source,notes,s_corr
17,Escherichia coli,bacteria,True,0.0050,0.030,False,ML*,Trindade et al. 2010,NaN,0.030
21,Saccharomyces cerevisiae,eukaryote,True,0.0228,0.015,False,BM,Zeyl & DeVisser 2001,excluding petites,0.015

In [62]:
sppdata = data.groupby('species').median()
del sppdata['mutator']
print('n =', len(sppdata), 'estimates')
sppdata

n = 22 estimates

                                   U        s  hom
species
Amsinckia douglasiana       0.161000  0.05150  1.0
Amsinckia gloriosa          0.198000  0.02500  1.0
Arabidopsis thaliana        0.052000  0.17250  1.0
Caenorhabditis briggsae     0.049500  0.07500  0.0
Caenorhabditis elegans      0.015000  0.10500  1.0
Chlamydomonas reinhardtii   0.000816  0.02400  0.0
Daphnia arenata             0.690000  0.03500  1.0
Daphnia pulicaria           0.502500  0.09350  0.5
Drosophila melanogaster     0.052000  0.10425  1.0
Escherichia coli            0.002585  0.02650  0.0
F1 bacteriophage                 NaN  0.06900  0.0
G4 bacteriophage                 NaN  0.07200  0.0
MS2 bacteriophage                NaN  0.04600  0.0
Oscheius myriophila         0.005500  0.21900  0.0
PhiX174 bacteriophage            NaN  0.18600  0.0
Qbeta bacteriophage              NaN  0.08800  0.0
SP bacteriophage                 NaN  0.05700  0.0
Saccharomyces cerevisiae    0.000633  0.05200  0.0
Tetrahymena thermophila     0.009400  0.05450  1.0
Tobacco Etch Virus               NaN  0.41100  0.0
Vesicular Stomatitis Virus  1.160000  0.09660  0.0
phi6 bacteriophage          0.030000  0.09300  0.0

In [64]:
U = np.array(sppdata['U'])
U = U[~np.isnan(U)]
print('U =', np.percentile(U, [50, 25, 75]))
print('s =', np.percentile(sppdata['s'], [50, 25, 75]))

U = [0.0495  0.00745 0.1795 ]
s = [0.0735    0.051625  0.1023375]