In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = pd.read_csv('data/mutation_parameters.csv')
data['s_corr'] = data['s']
data['s_corr'][data['hom']] = data['s'] / 2
data.head()

/Users/rbazev/Applications/miniconda2/envs/py35qt/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,species,mutator,U,s,hom,method,source,notes,s_corr
0,VSV,False,1.580,0.0022,False,BM,Elena & Moya 1999,X constant effects,0.0022
1,VSV,False,0.884,0.0024,False,BM,Elena & Moya 1999,C constant effects,0.0024
2,VSV,False,1.160,0.0022,False,BM,Elena & Moya 1999,R constant effects,0.0022
3,VSV,False,NaN,0.1910,False,direct mutagenesis,Sanjuan et al. 2004,NaN,0.1910
4,f1,False,NaN,0.1110,False,direct mutagenesis,Peris et al. 2010,NaN,0.1110

In [34]:
data[data['mutator']]

,species,mutator,U,s,hom,method,source,notes,s_corr
9,Escherichia coli,True,0.0050,0.030,False,ML*,Trindade et al. 2010,NaN,0.030
13,Saccharomyces cerevisiae,True,0.0228,0.015,False,BM,Zeyl & DeVisser 2001,excluding petites,0.015

In [13]:
data.median()

mutator    0.0000
U          0.0228
s          0.1110
hom        0.0000
s_corr     0.0930
dtype: float64

In [32]:
U = np.array(data['U'])
U = U[~np.isnan(U)]
print('U =', np.percentile(U, [50, 25, 75]))
s = np.array(data['s_corr'])
s = s[~np.isnan(s)]
print('s =', np.percentile(s, [50, 25, 75]))

U = [0.0228 0.0051 0.089 ]
s = [0.093  0.03   0.1375]

In [33]:
sppdata = data.groupby('species').median()
sppdata

                           mutator         U        s    hom   s_corr
species
Amsinckia douglasiana        False  0.161000  0.10300   True  0.05150
Amsinckia gloriosa           False  0.198000  0.05000   True  0.02500
Arabidopsis thaliana         False  0.004000  0.42000   True  0.21000
Caenorhabditis briggsae      False  0.049500  0.07500  False  0.07500
Caenorhabditis elegans       False  0.010000  0.16000  False  0.10900
Chlamydomonas reinhardtii    False  0.000816  0.02645  False  0.02645
Daphnia arenata              False  0.690000  0.07000   True  0.03500
Daphnia pulicaria            False  0.086000  0.11150  False  0.09350
Drosophila melanogaster      False  0.060130  0.15000   True  0.11400
Escherichia coli             False  0.002585  0.02650  False  0.02650
Oscheius myriophila          False  0.005500  0.21900  False  0.21900
Saccharomyces cerevisiae     False  0.000633  0.07350  False  0.05200
Tetrahymena thermophila      False  0.009400  0.10900   True  0.05450
VSV                          False  1.160000  0.00230  False  0.00230
f1                           False       NaN  0.11100  False  0.11100
phi6                         False  0.030000  0.09300  False  0.09300

In [16]:
len(sppdata)

16

In [17]:
sppdata.median()

mutator    0.00000
U          0.03000
s          0.09800
hom        0.00000
s_corr     0.06475
dtype: float64

In [30]:
U = np.array(sppdata['U'])
U = U[~np.isnan(U)]
print('U =', np.percentile(U, [50, 25, 75]))
print('s =', np.percentile(sppdata['s_corr'], [50, 25, 75]))

U = [0.03    0.00475 0.1235 ]
s = [0.06475  0.032875 0.1095  ]